In [1]:
import lxml
import requests
import time
import sys
import pandas as pd
from datetime import date, timedelta
from tqdm.notebook import tqdm
import json
import os
import googleapiclient.discovery

In [2]:
os.environ["OAUTHLIB_INSECURE_TRANSPORT"] = "1"

api_service_name = "youtube"
api_version = "v3"
#DEVELOPER_KEY = "AIzaSyAwpKUgDT7W_nEhR8UXJFvgibUXWQhPBeo"
DEVELOPER_KEY = "AIzaSyC_wM6f-Cbi043Hyw-PtGJ69KDzfrgnBdA"

In [3]:
youtube = googleapiclient.discovery.build(api_service_name, api_version, developerKey = DEVELOPER_KEY)

In [4]:
#1년간 주 단위로 수집

sd = date(2020, 7, 1)
week = timedelta(weeks=1)
day = timedelta(days=1)
ed = sd + week -day

# '한국 반응' 키워드로 유튜브 비디오 데이터 수집

In [6]:
video_title = []
video_id = []
channel_title = []
channel_id = []
description = []
pub_date = []


for i in range(52):
    pa_date = sd.strftime('%Y-%m-%d') + 'T00:00:00Z'
    pb_date = ed.strftime('%Y-%m-%d') + 'T23:59:59Z'
    
    search_response = youtube.search().list(
        q='한국 반응',
        part="id, snippet",
        maxResults=50, #최대값
        publishedAfter = pa_date,
        publishedBefore = pb_date,
        #videoCategoryId=10,   # music:10,  videoblogging:21, People & Blogs:22, Entertainment:24
        type = 'video',
        order = 'relevance'
    ).execute()


    for search_result in search_response.get("items", []):
        video_title.append(search_result["snippet"]["title"])
        video_id.append(search_result["id"]["videoId"])
        channel_title.append(search_result["snippet"]["channelTitle"])
        channel_id.append(search_result["snippet"]["channelId"])
        description.append(search_result["snippet"]["description"])
        pub_date.append(search_result["snippet"]["publishTime"])
        
    sd += week
    ed = sd + week - day

In [7]:
video_df = pd.DataFrame({'title':video_title, 'video_id':video_id, 'channel_title':channel_title, 'channel_id':channel_id, 'description':description, 'date':pub_date})

In [8]:
video_df.to_csv('data/youtube_video_list.csv', encoding='utf-8-sig')

# '외국인 리액션' 키워드로 유튜브 비디오 데이터 수집

In [10]:
video_title = []
video_id = []
channel_title = []
channel_id = []
description = []
pub_date = []


for i in range(52):
    pa_date = sd.strftime('%Y-%m-%d') + 'T00:00:00Z'
    pb_date = ed.strftime('%Y-%m-%d') + 'T23:59:59Z'
    
    search_response = youtube.search().list(
        q='외국인 리액션',
        part="id, snippet",
        maxResults=50, #최대값
        publishedAfter = pa_date,
        publishedBefore = pb_date,
        #videoCategoryId=10,   # music:10,  videoblogging:21, People & Blogs:22, Entertainment:24
        type = 'video',
        order = 'relevance'
    ).execute()


    for search_result in search_response.get("items", []):
        video_title.append(search_result["snippet"]["title"])
        video_id.append(search_result["id"]["videoId"])
        channel_title.append(search_result["snippet"]["channelTitle"])
        channel_id.append(search_result["snippet"]["channelId"])
        description.append(search_result["snippet"]["description"])
        pub_date.append(search_result["snippet"]["publishTime"])
        
    sd += week
    ed = sd + week - day

In [11]:
video_df = pd.DataFrame({'title':video_title, 'video_id':video_id, 'channel_title':channel_title, 'channel_id':channel_id, 'description':description, 'date':pub_date})

In [12]:
video_df.to_csv('data/youtube_video_list_2.csv', encoding='utf-8-sig')

In [15]:
df1 = pd.read_csv('data/youtube_video_list.csv')
df2 = pd.read_csv('data/youtube_video_list_2.csv')
df = pd.concat([df1, df2]).reset_index()
df = df.drop_duplicates(subset=['video_id'])

In [17]:
df

,index,Unnamed: 0,title,video_id,channel_title,channel_id,description,date
0,0,0,한국 예능 야구 레전드를 보고 현웃터진 미국인 반응,AEl5RAzF0lQ,BODA 보다,UCoCvTlU0KpNYwnMIgs7MPrA,KBO #한국야구 #예능짤 #MLB 오늘은 미국에서 온 김태균씨와 한국에 레전드 야...,2020-07-02T10:29:13Z
1,1,1,해외에서 반응 난리 났다는 한국 디저트,wYp0kz2kgKE,뉴스킹,UClOg34aPlf3GWZZ6ojt0WYQ,"한국 #근황 #해외반응 해외에서 난리라는 한국 디저트 근황 ""돈 걱정 없이 전부 다...",2020-07-03T03:25:31Z
2,2,2,&quot;한국 스타일 무섭네!&quot; 한국의 건물사진에 깜짝놀란 스페인 반응과...,It69uJHJIuA,구네스북,UClHJcrFMOxCEPjjg6WlTmPw,한국의 건물사진에 깜짝놀란 스페인 반응과 네티즌 반응을 다뤘습니다. * 구네스북 그...,2020-07-06T03:00:04Z
3,3,3,한국 LG OLED TV의인기비결은???해외반응 – 일본이것이 한국의 기술이다!!일...,1SIA3ukXyhc,데보이,UC9Uf0ZCFKKy65uCOf6oCrOQ,해외반응#한국해외반응#일본 한국 LG OLED TV의 인기비결은??? 해외반응 – ...,2020-07-04T14:14:30Z
4,4,4,한국 마스크를 처음 써보고 놀라운 반응을 보여주는 이탈리아 남자! 그 이유는?,3LwSAs3eeQA,레만 Reman [로마사는 한국남자],UC0MhsY1Nc467re-66o6xwRg,이탈리아 남자 알레한테 한국 마스크를 선물해주었습니다. 알레 반응이 정말 대박이네요...,2020-07-01T12:27:20Z
...,...,...,...,...,...,...,...,...
5055,2514,2514,"대만방송, 두려운 나라 이야기하던 중에 &quot;갑분 한국특집&quot;",E5ISiCtdF8w,션데일리 리서치,UCysrr_s8OwoZioh8XMOJn_g,대만방송에서 나라별로 어떤 나라가 강성해지는 것이 두려운가 라는 질문으로 여러나라의...,2021-06-26T05:30:02Z
5056,2515,2515,[해외반응] 인도언론 “블랙핑크 BTS 인도 본토까지 KPOP 강타하다!” 해외네티...,Rx-0qbPLRvs,정치클라쓰TV,UCdzsoRaD0JzASmWaEYEZX1Q,인도언론 “블랙핑크 BTS 인도 본토까지 KPOP 강타하다!” 1:54 초부터! 해...,2021-06-23T23:30:01Z
5057,2516,2516,모두가 미쳤다고 말린 미국중학교에 태권도 수업을 넣자 일어난 충격적인 일,Z46SCGmcMQw,원더WONDER,UCrMGh7NV4sZlZQTaK0kWMAQ,우리나라 및 세계에서 일어나고 있는 다양한 이야기를 공유하는 채널입니다. 영미권 소...,2021-06-28T23:00:09Z
5058,2517,2517,&quot;한국은 북한보다 못 사는 나라&quot; 일본인 분석 글에 충격 받은 외...,_1S44pmqfwI,존크TV,UCitaXlLp5Oy0aKmH2_y0xFw,구독하기 : https://bit.ly/39beO6A 영상을 시청해주셔서 감사합니다...,2021-06-25T09:43:41Z
5059,2518,2518,"“일본은 애니메와 벚꽃, 한국은?” - 호주인들이 솔직하게 말하는 한국과 일본의 장...",6fNugUz7Fjg,호기심 KOREA,UCmfJM_VTJ2AECyTwf-vEL8g,한국과 일본 비교영상입니다. 1867년 파리에서 열린 만국박람회. 그때까지 동양을 ...,2021-06-29T23:00:06Z

In [6]:
del df['index']
del df['Unnamed: 0']

In [18]:
video_id = list(df['video_id'])

In [18]:
comment_json = []
for vidx in tqdm(video_id):
    request = youtube.commentThreads().list(
        part="snippet",
        videoId=vidx
    )
    try:
        response = request.execute()
        comment_list = response['items']
        for i in range(len(comment_list)):
            comment_json.append(comment_list[i]['snippet']['topLevelComment']['snippet'])
    except:
        pass

comment_df = pd.DataFrame(comment_json)

  0%|          | 0/5059 [00:00<?, ?it/s]

In [20]:
comment_df.to_csv('data/comments.csv', encoding='utf-8-sig')

In [19]:
video_ids = []
viewCount = []
likeCount = []
dislikeCount = []
favoriteCount = []
commentCount = []

for vid in tqdm(video_id):
    video_response = youtube.videos().list(
        part="snippet, statistics",
        id=vid
    ).execute()

    if video_response.get("items", []):
        video_ids.append(vid)
        for v_item in video_response.get("items", []):
            try:
                viewCount.append(v_item["statistics"]["viewCount"])
            except:
                viewCount.append(0)
            try:
                likeCount.append(v_item["statistics"]["likeCount"])
            except:
                likeCount.append(0)
            try:
                dislikeCount.append(v_item["statistics"]["dislikeCount"])
            except:
                dislikeCount.append(0)
            try:
                favoriteCount.append(v_item["statistics"]["favoriteCount"])
            except:
                favoriteCount.append(0)
            try:
                commentCount.append(v_item["statistics"]["commentCount"])
            except:
                commentCount.append(0)
    else:
        pass

  0%|          | 0/4805 [00:00<?, ?it/s]

In [20]:
df_stat = pd.DataFrame({'video_id':video_id, 'viewCount':viewCount, 'likeCount':likeCount, 'dislikeCount':dislikeCount, 'favoriteCount':favoriteCount, 'commentCount':commentCount})

ValueError: arrays must all be same length

In [21]:
pd.DataFrame({'viewCount':viewCount, 'likeCount':likeCount, 'dislikeCount':dislikeCount, 'favoriteCount':favoriteCount, 'commentCount':commentCount})

     viewCount likeCount dislikeCount favoriteCount commentCount
0        62865       755           21             0          114
1        75606      1448           38             0           71
2       249429      5237          196             0          390
3       232165      2439          119             0          148
4        43406      1455           20             0           65
...        ...       ...          ...           ...          ...
4787    556655      6281          202             0          999
4788     62517      1183           43             0           97
4789    723372     15533          238             0          615
4790     36464      1631           55             0          212
4791    539489      5768          195             0          653

[4792 rows x 5 columns]

In [24]:
video_response

{'kind': 'youtube#videoListResponse',
 'etag': 'R5FSDy7BjJgL8Kjdce0qryZnbqk',
 'items': [{'kind': 'youtube#video',
   'etag': 'Tdcli1o_FbI7tgV3GA01FVFZv70',
   'id': '6fNugUz7Fjg',
   'snippet': {'publishedAt': '2021-06-29T23:00:06Z',
    'channelId': 'UCmfJM_VTJ2AECyTwf-vEL8g',
    'title': '“일본은 애니메와 벚꽃, 한국은?” - 호주인들이 솔직하게 말하는 한국과 일본의 장단점(해외반응)',
    'description': "한국과 일본 비교영상입니다.\n1867년 파리에서 열린 만국박람회. 그때까지 동양을 신비의 대상으로만 생각했던 유럽인들은 박람회에 출품된 일본 자기에 열광하며 동양의 이국적인 문화에 빠져들 수밖에 없었는데요, 이렇게 일본 문화가 유럽에서 대유행하자 이런 현상을 표현하기 위해 '자포니즘(Japonism)'이라는 용어까지 등장할 정도였죠.\n하지만 파리 만국박람회가 끝난 지 150년 후에 세계를 사로잡고 있는 건, 일본 문화가 아닌 대한민국의 한류입니다. 영화, 드라마, 음식, 뷰티, K-pop에 이어, 전통 소프트 파워라 할 수 있는 조선백자 달항아리와 한국 단색화까지 세계 미술계를 열광시키고 있는데요, \n이러한 한류의 확산 속에 우리나라에 대한 외국인들의 인식은 과거 자포니즘의 주인공 일본과 비교했을 때 어떤 수준일까요? 호주인들을 대상으로 한 길거리 인터뷰 영상에서 이들은 일본에 대해서는 에니메와 벚꽃 정도를 떠올린 반면, 한국에 대해서는 음식부터 패션, e-스포츠에 이르기까지 다양한 분야에 관심을 보였는데요, 자세한 내용을 확인해봅니다.\n#한국#일본#해외반응#korea#japan#한류#애니메#kpop#korean#food#한식#비교#한일관계#fashion#beauty#단색화#달항아리#조선백자#호주#australia\n\nVideo credit to ‘Welcome To’\nhttps://www.youtube.com/watch?v=dlMJWLi8ESI\nhttps://www.youtube.com/watch?v=egbtt1DKcGI\nAll the images shown in the video belong to the owner and not us. We are not the owner of any pictures shown in the video.",
    'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/6fNugUz7Fjg/default.jpg',
      'width': 120,
      'height': 90},
     'medium': {'url': 'https://i.ytimg.com/vi/6fNugUz7Fjg/mqdefault.jpg',
      'width': 320,
      'height': 180},
     'high': {'url': 'https://i.ytimg.com/vi/6fNugUz7Fjg/hqdefault.jpg',
      'width': 480,
      'height': 360},
     'standard': {'url': 'https://i.ytimg.com/vi/6fNugUz7Fjg/sddefault.jpg',
      'width': 640,
      'height': 480},
     'maxres': {'url': 'https://i.ytimg.com/vi/6fNugUz7Fjg/maxresdefault.jpg',
      'width': 1280,
      'height': 720}},
    'channelTitle': '호기심 KOREA',
    'tags': ['해외반응', '외국인반응'],
    'categoryId': '25',
    'liveBroadcastContent': 'none',
    'localized': {'title': '“일본은 애니메와 벚꽃, 한국은?” - 호주인들이 솔직하게 말하는 한국과 일본의 장단점(해외반응)',
     'description': "한국과 일본 비교영상입니다.\n1867년 파리에서 열린 만국박람회. 그때까지 동양을 신비의 대상으로만 생각했던 유럽인들은 박람회에 출품된 일본 자기에 열광하며 동양의 이국적인 문화에 빠져들 수밖에 없었는데요, 이렇게 일본 문화가 유럽에서 대유행하자 이런 현상을 표현하기 위해 '자포니즘(Japonism)'이라는 용어까지 등장할 정도였죠.\n하지만 파리 만국박람회가 끝난 지 150년 후에 세계를 사로잡고 있는 건, 일본 문화가 아닌 대한민국의 한류입니다. 영화, 드라마, 음식, 뷰티, K-pop에 이어, 전통 소프트 파워라 할 수 있는 조선백자 달항아리와 한국 단색화까지 세계 미술계를 열광시키고 있는데요, \n이러한 한류의 확산 속에 우리나라에 대한 외국인들의 인식은 과거 자포니즘의 주인공 일본과 비교했을 때 어떤 수준일까요? 호주인들을 대상으로 한 길거리 인터뷰 영상에서 이들은 일본에 대해서는 에니메와 벚꽃 정도를 떠올린 반면, 한국에 대해서는 음식부터 패션, e-스포츠에 이르기까지 다양한 분야에 관심을 보였는데요, 자세한 내용을 확인해봅니다.\n#한국#일본#해외반응#korea#japan#한류#애니메#kpop#korean#food#한식#비교#한일관계#fashion#beauty#단색화#달항아리#조선백자#호주#australia\n\nVideo credit to ‘Welcome To’\nhttps://www.youtube.com/watch?v=dlMJWLi8ESI\nhttps://www.youtube.com/watch?v=egbtt1DKcGI\nAll the images shown in the video belong to the owner and not us. We are not the owner of any pictures shown in the video."},
    'defaultAudioLanguage': 'ko'},
   'statistics': {'viewCount': '539489',
    'likeCount': '5768',
    'dislikeCount': '195',
    'favoriteCount': '0',
    'commentCount': '653'}}],
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

In [23]:
len(video_id)

4805

In [18]:
pd.merge(df, df_stat, on='video_id', how='left')

['62856',
 '75602',
 '249427',
 '230509',
 '43391',
 '4116347',
 '3252',
 '114586',
 '29058',
 '40557',
 '93009',
 '146742',
 '290344',
 '152005',
 '165099',
 '544580',
 '2234722',
 '10201',
 '43063',
 '342185',
 '4154',
 '114577',
 '20668',
 '48475',
 '7618',
 '123762',
 '3727',
 '3448',
 '47200',
 '198687',
 '11157',
 '6810',
 '18513',
 '16199',
 '108832',
 '46670']